*
{
    margin: 0;
    padding: 0;
}

.header1
{
    background-image: url(../image/backgound/hero_1.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
}

.btn
{
    font-size: 25px;
    color: white;
}
.headerp1
{
    font-size: 30px;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.headerdiv1
{
    margin-top: 70px;
}

.headerp2
{
    font-size: 50px;
    color: black;
    font-weight: bold;
}
.headerp3
{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.section2
{
    margin-top: 80px;
}
.sec2p1
{
    font-size: 25px;
    color: gray;
}
.container
{
    margin-top: 100px;
}
.sec5p1
{
    border-radius: 20px;
}
.sec5div1 img
{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.sec6p1
{
    font-size: 20px;
    color: white;
}
.imgg
{
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    
}
.imgg
{
    position: relative;
    right: 30px;
}
@media(min-width:992px)
{
    .heddiv1
    {
        padding-top: 150px;
    }
    .sec2p1
    {
        margin-left: 130px;
        text-transform: capitalize;
    }
}
.b1:hover
{
    background-color: white;
    color: black;
}